.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    font-family: 'Montserrat', sans-serif !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    font-family: 'Montserrat', sans-serif !important;
    color: #ff9999 !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover{
    font-family: 'Montserrat', sans-serif !important;
    color: white !important;
    background-color: #ff9999 !important;
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input {
    font-family: 'Montserrat', sans-serif !important;
}


